unless support-ie
  *
    box-sizing border-box

body
  text-align center

header
  @extend .container

.content
  @extend .container
  &-link
    @extend $button--generic
    @extend .button-default
    clear fix
