h1 Uh oh. This page requires JavaScript to be enabled.

if process.env.NODE_ENV === 'development'
  pre(style="background-color: red!important; color: white!important;")
    | Hey developer!
    | You should really make a noscript view.
