div
  p.
    poe-ui is a high-productivity collection of tools and practices for <br/>
    rapidly writing production-ready applications.
  
  br
  a(href="https://github.com/poegroup/poe-ui") github
  a(href="https://poegroup.github.com/guide") guide
